/* div{
    height:150 px;
    width:300 px;
    border: 5px black dotted;
    background-color : grey;
    margin-top : 20 px;
    margin-right : 1em;
    margin-bottom : 40px;
    margin-left : 2em;
    padding: 1em;

} */

#box{
    height:100px;
    width:100px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 50px;
    display: inline-block;
}

#box2{
    height:100px;
    width:100px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 50px;
    display: inline-block;
}

#box3{
    height:100px;
    width:100px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 50px;
    display: inline-block;

}